[Desktop Entry]
Name=YouTube Downloader
StartupWMCLass=YouTube Downloader
Exec=/usr/bin/youtubedl-gui
Icon=youtubedl-gui
Type=Application
Categories=AudioVideo;Utility
Comment=Graphical interface for youtube-dl
Keywords=Youtube;Download
