[Desktop Entry]
Name=Youtube Downloader
Exec=/usr/bin/youtubedl-gui
Icon=youtubedl-gui
Type=Application
Categories=AudioVideo;Utility
Comment=Download Youtube videos to local audio or video files.
Keywords=Youtube;Download
